@import url('https://fonts.googleapis.com/css?family=Roboto');

.found-block
{
  font-family: 'Roboto', sans-serif;
  margin: 10px auto;
  border: 1px solid rgba(145, 145, 145, .4);
  width: 70%;
  position: relative;
  transition-property: all;
  transition-duration: 1.5s;
  display: block;
}

.found-block__title
{
  margin: 10px;
}

.found-block__content
{
  margin: 10px;
}

.load-more
{
  font-family: 'Roboto', sans-serif;
  color: rgba(145, 145, 145, .7);
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  margin: 10px 0;
}
